/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

figure > img {
    display: block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    }

.row > [class^="col"] {
    padding: 0 20px;
}

.col-4 {
    width: 100%;
}
    
.col-6 {
    width: 100%;
}
    
.col-8 {
    width: 100%;
}
    
.col-12 {
    width: 100%;
}

/* utility classes */

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}   
.padding-20 {
    padding: 20px;
}
.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.uppercase {
    text-transform: uppercase;
}


/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: var(--light);
    padding-top: 20px;
    padding-bottom: 20px;
}

.hamburger-menu {
    font-size: 32px;
}

.navbar-list {
    display: none;
    gap: 22px;
    align-items: center;
}

/* hero */
.hero {
    padding-top: 50px;
	padding-bottom: 80px;
}

/* hero card */

[class^='col'] > .card {
	height: 100%;
}

.card-layout.card-body > * {
    width: 100%;
}

.card-body {
    background-color: var(--light-blue);
    padding:20px;
}  

.card-layout {
    border-radius: 20px;
    justify-content: center;
    height: 100%;
}

.card-body .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue);
}

.card-icon i {
    display: block;
    font-size: 70px;
    color: var(--blue);
}

.card-icon {
    padding-bottom: 20px;
}

.card-text > .card-title {
    color: var(--blue);
}

.card-button {
    align-self: flex-start;
}

.card-button .button {
    background-color: var(--blue);
    color: var(--light);
    padding: 0 70px;

}

.card-text {
    line-height: 30px;
    padding-bottom: 20px;
    color: var(--dark-grey);
}

.card-lg-left .card-text {
    text-align: left;
}

.phone {
    width: 200px;
    height: 250px;
}
.card-img {
    padding: 20px 20px 0 20px;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}
.col-8 .card-body {
    padding-bottom: 0;
}
.card-text :first-child {
    padding-bottom: 20px;
}

/* Strategic-planning */

.strategic-planning {
    background-color: var(--purple);
}
.strategic-planning .card-layout.card-body {
    height: initial;
    padding: 0;
}
.strategic-planning .card-planning {
    padding: 80px;
}

.planning-1-img {
    padding: 40px 20px;
}
.planning-1-text {
    color: var(--light);
}
/* testimonials */
.card-header-text > [class^='title'] {
    margin-bottom: 50px;
}

.card-header-text .title-1 {
    text-transform: uppercase;
}
.testimonials {
    text-align: center;
    padding: 50px 0;
    line-height: 25px;
}

.testimonial-card {
    background-color: var(--purple);
    color: var(--light);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.testimonial-fig img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.testimonials .description {
    margin-bottom: 20px;
}

/* benefits */

.benefits {
    background-color: var(--purple);
    padding: 20px 0;
}

.benefits-title {
    color: var(--light);
    text-align: center;
    margin: 10px 0 20px;
}

.benefits .benefit-card {
    background-color: var(--light);
    padding: 40px 30px;
    color: var(--purple);
    line-height: 25px;
}

.benefit-card .card-number {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.benefit-card .benefit-title {
    margin-bottom: 40px;
}

.benefit-card .description {
    color: var(--dark-grey);
    margin-bottom: 40PX;
}

.benefit-card .button {
    background-color: var(--purple);
    text-align: left;
    padding: 3px 50px;
    color: var(--light);
}

/* about us */

.about-us {
    padding: 30px 0 50px;
}
.about-us-content .about-us-title {
    color: var(--purple);
    margin-bottom: 30px;
}

.about-us-content .about-text {
    line-height: 30px;
    margin-bottom: 30px;
    color: var(--dark-grey);
}
.about-us-fig img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}




/*after 768 px responsive  */
@media (min-width: 768px) {

    /* default settings */
    .container {
        width: 100%;
    }
    .container-small {
        width: 100%;
    }
    .col-4 {
        width: calc((100% / 12) * 4);
    }
    
    .col-6 {
        width: calc((100% / 12) * 6);
    }
    .col-8 {
        width: calc((100% / 12) * 8);
    }
    
    .col-12 {
        width: calc((100% / 12) * 12);
    }
    
   
    /* navbar */

    .hamburger-menu {
        display: none;
    }
    .navbar-list {
        display: flex;
        gap: 22px;
        align-items: center;
    }

    /* hero */

    img.phone {
        margin: 0 auto;
    }
    .card-button {
        flex-grow: 2;
    }
    .col-6 .row {
        flex-grow: 0;
    }
    /* strategic */
    .planning-1-img figure {
        padding:  50px 0px 130px 0;
    }

    .card-layout.card-planning-2 {
        padding: 200px 0 15px 50px;
    }

    /* testimonials */

    .testimonial-fig {
        width: calc(100% /4);
    }
    
    .testimonial-text {
        width: calc((100% /4) *3);;
    }
    .testimonial-text > .description {
        text-align: left;
    }

}

/*after 992 px responsive  */

@media (min-width: 992px) {

    .strategic-planning .card-planning-2 {
        align-self: flex-end;
        padding: 100px 0 0 100px;
    }

    .col-4 {
        width: calc((100% / 12) * 4);
    }

}





/* debug */

/* .debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
} */

/* .debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
} */
/* .debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
} */

/* .debug .strategic-planning {
    height: 100px;
} */



