/* Default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

figure > img {
    display: block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    }



/* utility classes */

.justify-between {
    justify-content: space-between;
}s

.justify-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.row-gap {
    row-gap: 20px;
}
.padding-20 {
    padding: 20px;
}


/* component classes */

.button {
    color: black;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 0 18px;
}

/* header */
.page-header {
    background-color: var(--blue);
    color: var(--light);
}

.hamburger-menu {
    display: block;
}
.navbar-list {
    display: none;

}



/*after 780 px responsive  */
@media (min-width: 780px) {

    /* default settings */
    .container {
        width: 100%;
    }
    .container-small {
        width: 100%;
    }
    .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
    
    .col-6 {
        flex-basis: calc((100% / 12) * 6);
    }
    
   
    /* navbar */

    .hamburger-menu {
        display: none;
    }
    .navbar-list {
        display: flex;
        gap: 22px;
        align-items: center;
    }

    /* hero */

    img.phone {
        margin: 0 auto;
    }
    .card-button {
        flex-grow: 2;
    }
    .col-6 .row {
        flex-grow: 0;
    }
    /* strategic */
    .planning-1-img figure {
        padding:  50px 0px 130px 0;
    }

    .card-layout.card-planning-2 {
        padding: 200px 0 15px 50px;
    }




    
}
/* after 570 px responsive */
@media (min-width: 570px) {

    .col-4 {
        flex-basis: calc((100% / 12) * 4);
    }
     .col-8 {
        flex-basis: calc((100% / 12) * 8);
    }
    
    .col-12 {
        flex-basis: calc((100% / 12) * 12);
    }
    
    /* hero */
    .row.card-body {
        justify-content: flex-start;
    }
    /* strategic */
    

}

/* hero */
.card-body {
    background-color: var(--light-blue);
    border-radius: 20px;
    height: 100%;
    justify-content: center;
    padding:20px;
}
.card-content {
    flex-grow: 1;
}
.card-icon i {
    display: block;
    font-size: 70px;
    color: var(--blue);
}
.card-icon {
    padding-bottom: 20px;
}

.card-button {
    align-self: flex-start;
}

.card-button .button {
    background-color: var(--blue);
    color: var(--light);
    padding: 0 70px;

}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blue);

}

.card-text > .card-title {
    color: var(--blue);
}

.card-text {
    line-height: 30px;
    padding-bottom: 20px;
    color: var(--dark-grey);
}

.card-lg-left .card-text {
    text-align: left;
}
.card-layout {
    padding: 0 20px;
}
.phone {
    width: 200px;
    height: 280px;
}
.card-img {
    padding: 20px 20px 0 20px;
}
.col-8 .card-body {
    padding-bottom: 0;
}
.card-text :first-child {
    padding-bottom: 20px;
}

/* Strategic-planning */

.strategic-planning {
    background-color: var(--purple);
}

.planning-1-img {
    padding: 40px 20px;
}
.planning-1-text {
    color: var(--light);
}
/* testimonials */
.title-1 {
    text-transform: uppercase;
}
.testimonials {
    text-align: center;
}

/* debug */

/* .debug .container,
 .debug .container-medium,
 .debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
} */

/* .debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
} */
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}

/* .debug .strategic-planning {
    height: 100px;
} */



